.title {
    text-align: center;
}

.desc-form,
.loading {
    width: 50%;
    margin: auto;
}

.loading {
    text-align: center;
}

.diagnosis {
    width: 80%;
    margin: auto;
}

.bg {
    background-image: url('../images/doctor-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }