<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctor ZuHause</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header>
        <h1 class="title">
            Doctor ZuHause &#x1F691;
        </h1>
    </header>
    <form action="/getDiagnosis" class="desc-form" method = "POST">
        <label for="name">Name</label>
        <input class="u-full-width" type="text" id="name" name="name">
        <label for="content">How are you feeling? What are your symptoms?</label>
        <textarea class="u-full-width" type="text" id="content" name="content"></textarea>
        <button class="button-primary">Get your diagnosis &#x1F469;&#x200D;&#x2695;&#xFE0F;</button>
    </form>
    <div class="loading">
        <img src="assets/gif/loading.gif" alt="">
    </div>
    <div class="diagnosis">

    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
    <script src="client.js" async defer></script>
</body>

</html>